@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@400;600&display=swap");

* {
  font-size: 62.5%; /* // equals to 10px but allows for the font-size to scale with the browser's "zoom in/out" feature */
  padding: 0;
  margin: 0;
  font-family: "Sarabun", sans-serif;
  box-sizing: border-box;
}

html {
  --primary-color: #1168b0;
  --primary-color-hover: #145388;
  --primary-color-active: #0c3252;
  --secondary-color: #60b2f7;
  --bg-color: #e8eaec;

  --font-color: #04131e;
  --muted-font-color: #c4c7ca;
}

p,
h1,
h2,
h3,
h4,
span {
  color: var(--font-color);
}
